{% autoescape false %}
    {% if sub.errors %}
        <div class="calc-errors">
            <h3>Errors In the form</h3>
            <ul>
                {% for error in  sub.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
<form action="" method="post" class="cqn-quote-form">
    <input type="hidden" value="yes" name="cqn_calc_form"/>
    <input type="hidden" name="CQN_calculator_ref" value="{{ sub.getCalculatorRef() }}">

    <div class="section_holder" id="quote_type_section">
        <h2 class="form_title">Conveyancing Type</h2>
        <div class="form-row  {{ sub.errors.quote_type                    ? ' error' }}">
            <select name="quote_type" id="quote_type" style="width: 100%" required>
                <option value="" style="background-color: #cccccc;" disabled selected>Please Select</option>
                <option value="sale">Sale</option>
                <option value="purchase">Purchase</option>
                <option value="sale_purchase">Sale & Purchase</option>
                <option value="remortgage">Remortgage</option>
                <option value="transfer">Transfer</option>
            </select>
        </div>
    </div>
    <div class="section_holder" id="sale_details">
        <h2  class="form_title">Sale Details</h2>

        <div class="form-row {{ sub.errors.sale_price                    ? ' error' }}"                      ><label for="sale_price">Property price</label><input name="sale_price" size="40" type="number" class="required number" value="{{ sub.sale_price }}"></div>
        <div class="form-row {{ sub.errors.sale_leasehold                ? ' error' }}  checkbox-row"        ><label for="sale_leasehold">Is the sale property Leasehold?</label><input name="sale_leasehold" id="sale_leasehold" value="1" type="checkbox"></div>
        <div class="form-row {{ sub.errors.sale_mortgage                 ? ' error' }} checkbox-row"         ><label for="sale_mortgage">Is there a mortgage on the sale property?</label><input name="sale_mortgage" id="sale_mortgage" value="1" type="checkbox"></div>
    </div>
    <div class="section_holder" id="purchase_details" style="display:none;">
        <h2 class="form_title">Purchase Details</h2>

        <div class="form-row {{ sub.errors.purchase_price               ? ' error' }}"                      ><label for="purchase_price">Property price</label><input value="{{ sub.purchase_price }}" name="purchase_price" size="40" type="number" class="required number ignore"></div>
        <div class="form-row {{ sub.errors.purchase_leasehold           ? ' error' }} checkbox-row"         ><label for="purchase_leasehold">Is the purchase property Leasehold?</label><input name="purchase_leasehold" id="purchase_leasehold" value="1" type="checkbox"></div>
        <div class="form-row {{ sub.errors.purchase_mortgage            ? ' error' }} checkbox-row"         ><label for="purchase_mortgage">Will the purchase involve a mortgage?</label><input name="purchase_mortgage" id="purchase_mortgage" value="1" type="checkbox"></div>
        <div class="form-row {{ sub.errors.purchase_1st_time_buyer      ? ' error' }} checkbox-row"         ><label for="purchase_1st_time_buyer">Are you a 1st Time Buyer?</label><input name="purchase_1st_time_buyer" id="purchase_1st_time_buyer" value="1" type="checkbox"></div>
        <div class="form-row {{ sub.errors.purchase_buy_to_let          ? ' error' }} checkbox-row"         ><label for="purchase_buy_to_let">Is this a buy-to-let property?</label><input name="purchase_buy_to_let" id="purchase_buy_to_let" value="1" type="checkbox"></div>
        <div class="form-row {{ sub.errors.purchase_shared_ownership    ? ' error' }} checkbox-row"         ><label for="purchase_shared_ownership">Is the property shared ownership?</label><input name="purchase_shared_ownership" id="purchase_shared_ownership" value="1" type="checkbox"></div>
        <div class="form-row {{ sub.errors.purchase_no_of_buyers        ? ' error' }} small-text-input"     ><label for="purchase_no_of_buyers">No. Of Buyers?</label><input name="purchase_no_of_buyers" id="purchase_no_of_buyers" value="1" type="number" size="2" step="1"  max="10" min="1" class="required number ignore"></div>
    </div>
    <div class="section_holder" id="remortgage_details" style="display:none;">
        <h2 class="form_title">Remortgage Details</h2>
        <div class="form-row {{ sub.errors.remortgage_price             ? ' error' }}"                      ><label for="remortgage_price">Remortgage Value</label><input value="{{ sub.remortgage_price }}" name="remortgage_price" size="40" type="number" class="required number ignore"></div>
        <div class="form-row {{ sub.errors.remortgage_leasehold         ? ' error' }} checkbox-row"         ><label for="remortgage_leasehold">Is the remortgage property Leasehold?</label><input name="remortgage_leasehold" id="remortgage_leasehold" value="1" type="checkbox"></div>
        <div class="form-row {{ sub.errors.remortgage_no_of_people      ? ' error' }} small-text-input"     ><label for="remortgage_no_of_people">No. Of People?</label><input name="remortgage_no_of_people" id="remortgage_no_of_people" value="1" type="text" size="2" class="required digits ignore"></div>
        <div class="form-row {{ sub.errors.remortgage_involves_transfer ? ' error' }} checkbox-row"         ><label for="remortgage_involves_transfer">Involves equity transfer?</label><input name="remortgage_involves_transfer" id="remortgage_involves_transfer" value="remortgage_involves_transfer" type="checkbox"></div>
    </div>
    <div class="section_holder" id="transfer_details" style="display:none;">
    <h2 class="form_title">Transfer Of Equity Details</h2>
        <div class="form-row {{ sub.errors.transfer_price               ? ' error' }}"                     ><label for="transfer_price">Equity Value</label><input value="{{ sub.transfer_price }}" name="transfer_price" size="40" type="number" class="required number ignore"></div>
        <div class="form-row {{ sub.errors.transfer_leasehold           ? ' error' }} checkbox-row"        ><label for="transfer_leasehold">Is the transfer property Leasehold?</label><input name="transfer_leasehold" id="transfer_leasehold" value="1" type="checkbox"></div>
        <div class="form-row {{ sub.errors.transfer_no_of_people        ? ' error' }} small-text-input"    ><label for="transfer_no_of_people">No. Of People?</label><input name="transfer_no_of_people" id="transfer_no_of_people" value="1" type="number" step="1" max="10"  min="1" class="required digits ignore"></div>
    </div>
    <div class="section_holder" id="save_quote_holder">
        <div class="form-row {{ sub.errors.discount_code                ? ' error' }}"                     ><label for="discount_code">Discount Code</label><input value="" name="discount_code" id="discount_code" size="40" type="text" class=""></div>
    </div>
    <div class="section_holder" id="save_quote_holder">
        <div class="form-row {{ sub.errors.contact_email                ? ' error' }}"                     ><label for="contact_email">Email address*</label><input name="contact_email" id="contact_email" size="40" type="email" class="required email" value="{{ sub.contact_email }}"></div>
        <div class="form-row {{ sub.errors.contact_telephone            ? ' error' }}"                     ><label for="contact_telephone">Telephone Number*</label><input value="{{ sub.contact_telephone }}" name="contact_telephone" id="contact_telephone" size="40" type="tel"></div>
        <div class="form-row {{ sub.errors.contact_name                 ? ' error' }}"                     ><label for="contact_name">Full Name</label><input value="{{ sub.contact_name }}" name="contact_name" id="contact_name" size="40" type="text"></div>
        
        <div class="form-row"                     ><input class="instruct-input" type="submit" id="cqn-form-submit" value="Calculate" onclick="_gaq.push(['_trackEvent', 'calculator', 'submit']);"  ></div>
        {#<div class="form-row"><div class="privacy"><span>*</span>We fully respect your privacy. We will not share your email or other information with any third party.</div></div>#}
        <div class="form-row">
            <div class="privacy">
                <p class="disclaimer"><span>*</span>Any information provided is subject to our privacy policy. Your details are not shared with anyone other than the firms who are providing the quotes and we operate a strict no spam policy.</p>
                <p>Our Solicitors are required to comply with Chapter 9 of the Solicitors Regulation Authority (“SRA”) Handbook ‘Fee Sharing and Referrals’ and our Licensed Conveyancers with the CLC’s Note 6 Disclosure of Profits and Advantages, Issue 2, (March 2009). We only work with professional and experienced conveyancers, who may contact you directly. We only quote the conveyancers' fees, please ask each conveyancer for a breakdown of disbursements, stamp duty and expense.</p>

            </div>
        </div>


    </div>
</form>


{%  endautoescape %}
