 {#/** @var CQN_Calculator_Submission $sub */ #}
{%


set additionalFields =  {
'contact_street_address' : 'Contact Street Address',
'contact_locality' : 'Contact Locality',
'contact_town' : 'Contact Town',
'contact_postcode' : 'Contact Postcode',
'additional_1_title' : 'Additional 1 Title',
'additional_1_forename' : 'Additional 1 Forename',
'additional_1_surname' : 'Additional 1 Surname',
'additional_2_title' : 'Additional 2 Title',
'additional_2_forename' : 'Additional 2 Forename',
'additional_2_surname' : 'Additional 2 Surname',
'sale_street_address' : 'Sale Street Address',
'sale_locality' : 'Sale Locality',
'sale_town' : 'Sale Town',
'sale_postcode' : 'Sale Postcode',
'purchase_street_address' : 'Purchase Street Address',
'purchase_locality' : 'Purchase Locality',
'purchase_town' : 'Purchase Town',
'purchase_postcode' : 'Purchase Postcode',
'remortgage_street_address' : 'Remortgage Street Address',
'remortgage_locality' : 'Remortgage Locality',
'remortgage_town' : 'Remortgage Town',
'remortgage_postcode' : 'Remortgage Postcode',
'transfer_street_address' : 'Transfer Street Address',
'transfer_locality' : 'Transfer Locality',
'transfer_town' : 'Transfer Town',
'transfer_postcode' : 'Transfer Postcode'
} %}

<h2>Here is your quote</h2>

<table class="calc-quote" style="width: 100%">
<thead><tr><th></th><th></th></tr></thead>
<tbody>
    {% autoescape false %}
        {#==== FEES  START====  #}

        <tr class="heading-row"><td colspan=2>Fees</td></tr>

        {#
            fees
            leasehold
            vat
            fees total
            disbursements
            disbursements total
            total
            discount

            discounted total
        #}


        {{ sub.involves_sale              ?  '<tr ><td>Sale Legal Fees</td><td  class="amount">'           ~ sub.sale_legal_fees|number_format            ~ '</td></tr>' : '' }}
        {{ sub.involves_purchase          ?  '<tr ><td>Purchase Legal Fees</td><td  class="amount">'       ~ sub.purchase_legal_fees|number_format        ~ '</td></tr>' : '' }}
        {{ sub.involves_remortgage        ?  '<tr ><td>Remortgage Legal Fees</td><td  class="amount">'     ~ sub.remortgage_legal_fees|number_format      ~ '</td></tr>' : '' }}
        {{ sub.involves_transfer          ?  '<tr ><td>Transfer Legal Fees</td><td  class="amount">'       ~ sub.transfer_legal_fees|number_format        ~ '</td></tr>' : '' }}

        {{ sub.sale_leasehold_fees        ?  '<tr ><td>Sale Leasehold Fees</td><td  class="amount">'       ~ sub.sale_leasehold_fees|number_format        ~ '</td></tr>' : '' }}
        {{ sub.purchase_leasehold_fees    ?  '<tr ><td>Purchase Leasehold Fees</td><td  class="amount">'   ~ sub.purchase_leasehold_fees|number_format    ~ '</td></tr>' : '' }}
        {{ sub.remortgage_leasehold_fees  ?  '<tr ><td>Remortgage Leasehold Fees</td><td  class="amount">' ~ sub.remortgage_leasehold_fees|number_format  ~ '</td></tr>' : '' }}
        {{ sub.transfer_leasehold_fees    ?  '<tr ><td>Transfer Leasehold Fees</td><td  class="amount">'   ~ sub.transfer_leasehold_fees|number_format    ~ '</td></tr>' : '' }}
        {{ sub.no_move_no_fee             ?  '<tr ><td>Transfer Leasehold Fees</td><td  class="amount">'   ~ sub.no_move_no_fee|number_format             ~ '</td></tr>' : '' }}

            {# no move no fee ???? #}

        <tr class="vat-row"   ><td>VAT On Fees</td><td class="amount">{{  sub.vat_on_fees|number_format  }}</td></tr>
        <tr class="total-row" ><td>Fees Total</td><td class="amount">{{ sub.fees_plus_vat|number_format  }}</td></tr>




        {#==== FEES  END====  #}
        {#==== DISBURSEMENTS START====  #}

            {% if sub.involves_sale %}
                <tr class="heading-row"><td colspan=2>Sale Disbursements</td></tr>
                {%  for disb in sub.sale_disbursements_list %}
                    <tr class="{{ disb.optional ? 'disb-optional' : 'disb-mandatory' }}">
                        <td>{{  disb.name }}</td>
                        <td class="amount">{{  disb.price|number_format  }}</td>
                    </tr>
                {%  endfor %}
                <tr  class="total-row"><td>SaleDisbursements       Total</td><td  class="amount">{{   sub.sale_disbursements_total|number_format        }}</td></tr>
            {% endif %}

            {% if sub.involves_purchase %}
                <tr class="heading-row"><td colspan=2>Purchase Disbursements</td></tr>
                {%  for disb in sub.purchase_disbursements_list %}
                    <tr class="{{ disb.optional ? 'disb-optional' : 'disb-mandatory' }}">
                        <td>{{  disb.name }}</td>
                        <td class="amount">{{  disb.price|number_format  }}</td>
                    </tr>
                {%  endfor %}
                <tr class="total-row"><td>PurchaseDisbursements   Total</td><td  class="amount">{{   sub.purchase_disbursements_total|number_format    }}</td></tr>
            {% endif %}

            {% if sub.involves_remortgage %}
                <tr class="heading-row"><td colspan=2>Remortgage Disbursements</td></tr>
                {%  for disb in sub.remortgage_disbursements_list %}
                    <tr class="{{ disb.optional ? 'disb-optional' : 'disb-mandatory' }}">
                        <td>{{  disb.name }}</td>
                        <td class="amount">{{  disb.price|number_format  }}</td>
                    </tr>
                {%  endfor %}
                <tr class="total-row"><td>RemortgageDisbursements Total</td><td  class="amount">{{   sub.remortgage_disbursements_total|number_format  }}</td></tr>
            {% endif %}

            {% if sub.involves_transfer %}
                <tr class="heading-row"><td colspan=2>Transfer Disbursements</td></tr>
                {%  for disb in sub.transfer_disbursements_list %}
                    <tr class="{{ disb.optional ? 'disb-optional' : 'disb-mandatory' }}">
                        <td>{{  disb.name }}</td>
                        <td class="amount">{{  disb.price|number_format  }}</td>
                    </tr>
                {%  endfor %}
                <tr class="total-row"><td>TransferDisbursements   Total</td><td  class="amount">{{   sub.transfer_disbursements_total|number_format    }}</td></tr>
            {% endif %}

    {# ==== DISBURSEMENTS END ====  #}




            <tr><td class="total-row">Disbursements Total</td><td  class="amount">{{             sub.disbursements_total|number_format            }}</td></tr>

            <tr><td class="total-row">Total</td><td  class="amount">{{                           sub.quote_total|number_format            }}</td></tr>


            {%  if( sub.discount_total ) %}
                <tr><td class="discount-total">Discount</td><td  class="amount">{{                     sub.discount_total|number_format            }}</td></tr>
                <tr><td class="total-row discounted-total">Discounted Total</td><td  class="amount">{{             sub.discounted_total|number_format            }}</td></tr>

            {%  endif %}


</tbody>
</table>

<hr/>

 <form action="" method="post">
     <input type="hidden" name="cqn_instructType" value="emailQuote">
     <input type="hidden" name="cqn_calc_form" value="1">

     <input type="hidden" name="cqn_quote_viewed" value="1">
     <input type="hidden" name="CQN_calculator_ref" value="{{  sub.getCalculatorRef() }}">
     <input class="instruct-input" type="submit" value="Email Me Details">
 </form>
 <form action="" method="post">
     <input type="hidden" name="cqn_download_quote" value="emailQuote">
     <input type="hidden" name="cqn_calc_form" value="1">

     <input type="hidden" name="cqn_quote_viewed" value="1">
     <input type="hidden" name="CQN_calculator_ref" value="{{  sub.getCalculatorRef() }}">
     <input class="instruct-input" type="submit" value="Download Quote">
 </form>
<input name="instruct_now" class="show-instruct instruct-input" id="show-instruct" type="submit" value="Instruct Solicitor Now">

<div class="instruct-form" id="instruct-form" style="display: none;">

    <form action="" method="post">

        <input type="hidden" name="cqn_instructType" value="instructNow">
        <input type="hidden" name="cqn_calc_form" value="1">
        <input type="hidden" name="CQN_calculator_ref" value="{{  sub.getCalculatorRef() }}">

        <input name="instruct_now" class="instruct instruct-input" type="submit" value="Finish">

        <h2>Contact Address</h2>
        <div class="form-group"><label for="contact_street_address">Address 1</label><input type="text" name="contact_street_address" id="contact_street_address" /></div>
        <div class="form-group"><label for="contact_locality">Address 2</label><input type="text" name="contact_locality" id="contact_locality" /></div>
        <div class="form-group"><label for="contact_town">Town</label><input type="text" name="contact_town" id="contact_town" /></div>
        <div class="form-group"><label for="contact_postcode">Postcode</label><input type="text" name="contact_postcode" id="contact_postcode" /></div>

        <h2>Additional Name 1</h2>
        <div class="form-group">
            <label for="additional_1_title">Title</label><input type="text" name="additional_1_title" id="additional_1_title" />
        </div>
        <div class="form-group">
            <label for="additional_1_forename">Forename</label><input type="text" name="additional_1_forename" id="additional_1_forename" />
        </div>
        <div class="form-group">
            <label for="additional_1_surname">Surname</label><input type="text" name="additional_1_surname" id="additional_1_surname" />
        </div>

        <h2>Additional Name 2</h2>
        <div class="form-group">
            <label for="additional_2_title">Title</label><input type="text" name="additional_2_title" id="additional_2_title" />
        </div>
        <div class="form-group">
            <label for="additional_2_forename">Forename</label><input type="text" name="additional_2_forename" id="additional_2_forename" />
        </div>
        <div class="form-group">
            <label for="additional_2_surname">Surname</label><input type="text" name="additional_2_surname" id="additional_2_surname" />
        </div>

        {% if( sub.involves_sale) %}

            <h2>Sale Address</h2>
            <div class="form-group"><label for="sale_street_address">Address 1</label><input type="text" name="sale_street_address" id="sale_street_address" /></div>
            <div class="form-group"><label for="sale_locality">Address 2</label><input type="text" name="sale_locality" id="sale_locality" /></div>
            <div class="form-group"><label for="sale_town">Town</label><input type="text" name="sale_town" id="sale_town" /></div>
            <div class="form-group"><label for="sale_postcode">Postcode</label><input type="text" name="sale_postcode" id="sale_postcode" /></div>

        {% endif %}
        {% if( sub.involves_purchase) %}

            <h2>Purchase Address</h2>
            <div class="form-group"><label for="purchase_street_address">Address 1</label><input type="text" name="purchase_street_address" id="purchase_street_address" /></div>
            <div class="form-group"><label for="purchase_locality">Address 2</label><input type="text" name="purchase_locality" id="purchase_locality" /></div>
            <div class="form-group"><label for="purchase_town">Town</label><input type="text" name="purchase_town" id="purchase_town" /></div>
            <div class="form-group"><label for="purchase_postcode">Postcode</label><input type="text" name="purchase_postcode" id="purchase_postcode" /></div>


        {% endif %}
        {% if( sub.involves_remortgage) %}

            <h2>Remortgage Address</h2>
            <div class="form-group"><label for="remortgage_street_address">Address 1</label><input type="text" name="remortgage_street_address" id="remortgage_street_address" /></div>
            <div class="form-group"><label for="remortgage_locality">Address 2</label><input type="text" name="remortgage_locality" id="remortgage_locality" /></div>
            <div class="form-group"><label for="remortgage_town">Town</label><input type="text" name="remortgage_town" id="remortgage_town" /></div>
            <div class="form-group"><label for="remortgage_postcode">Postcode</label><input type="text" name="remortgage_postcode" id="remortgage_postcode" /></div>

        {% endif %}
        {% if( sub.involves_transfer) %}
            <h2>Transfer Address</h2>
            <div class="form-group"><label for="transfer_street_address">Address 1</label><input type="text" name="transfer_street_address" id="transfer_street_address" /></div>
            <div class="form-group"><label for="transfer_locality">Address 2</label><input type="text" name="transfer_locality" id="transfer_locality" /></div>
            <div class="form-group"><label for="transfer_town">Town</label><input type="text" name="transfer_town" id="transfer_town" /></div>
            <div class="form-group"><label for="transfer_postcode">Postcode</label><input type="text" name="transfer_postcode" id="transfer_postcode" /></div>

        {% endif %}

        <input name="instruct_now" class="instruct instruct-input" type="submit" value="Finish">
    </form>
</div>



 {%  endautoescape %}
